body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color:#f7f7f7;

}

header{
    text-align: center;
    padding: 40px 0;

}

section{
    margin:40px 0;

}

.project-card{
    background:white;
    padding: 20px;
    broder-radius: 8px;
    
}